# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Output File (CSV)
output_data_file = "../starter_code/WeatherPy.csv"
with open(output_data_file, "r", encoding="utf-8") as read_file:
    data = pd.read_csv(read_file)

data.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,La Libertad,-2.23,-80.90,73.40,83,90,11.41,EC
1,Guatire,10.48,-66.54,84.20,79,20,2.24,VE
2,Faanui,-16.48,-151.75,78.12,75,18,24.25,PF
3,Ballina,-28.87,153.57,55.99,100,5,4.45,AU
4,Bambous Virieux,-20.34,57.76,66.99,88,40,5.82,MU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
coordinates = data[["Latitude", "Longitude"]]
humidity = data["Humidity"]

In [5]:
fig=gmaps.figure()

heatMap = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

fig.add_layer(heatMap)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
bestCities = data.loc[(data["Max Temp"] <= 78)&(data["Max Temp"]>=67)&
                            (data["Humidity"] <= 55)&(data["Cloudiness"]<=30)&
                            (data["Wind Speed"] <10)] 
                                                             
bestCities

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country
16,Vilyuysk,63.76,121.62,77.09,46,1,4.52,RU
107,Zhigansk,66.77,123.37,74.35,44,25,7.25,RU
116,Balkanabat,39.51,54.37,76.42,32,12,3.67,TM
150,Yellowknife,62.46,-114.35,77.00,38,20,8.05,CA
166,Mizdah,31.45,12.98,73.18,42,0,6.13,LY
196,Scalea,39.81,15.80,75.00,54,0,2.86,IT
221,Haines Junction,60.75,-137.51,67.75,28,0,8.90,CA
274,Khandyga,62.67,135.60,67.78,47,0,5.50,RU
276,Tiznit Province,29.58,-9.50,75.52,51,0,2.10,MA
279,Taksimo,56.34,114.88,71.65,53,30,1.39,RU
355,Seydi,39.48,62.91,76.42,18,0,6.11,TM
404,Vitim,59.45,112.56,74.48,47,0,0.65,RU
405,Mehrān,33.12,46.16,71.60,26,0,2.24,IR
430,Kumul,42.80,93.45,68.83,40,0,6.17,CN
439,Riverton,40.52,-111.94,70.00,40,1,5.82,US
460,Batagay,67.63,134.63,71.01,28,10,2.64,RU
479,Chegdomyn,51.12,133.02,71.71,53,30,3.02,RU
502,Semnan,35.57,53.40,74.50,42,0,8.48,IR
504,Suntar,62.14,117.63,76.14,54,0,2.15,RU
541,Semey,50.41,80.23,67.21,52,25,7.85,KZ

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = bestCities 
hotels = []
hotel_df["Hotels"] = np.nan
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {"type": "hotel","key": g_key,"radius": 5000}


for index, row in hotel_df.iterrows():
    loc = f"{row['Latitude']},{row['Longitude']}"
    params["location"] = loc
    response = requests.get(url, params=params).json()    
    hotels.append(response['results'][1]['name'])
    
hotel_df["Hotel Name"] = hotels
hotel_df

C:\Users\Ryan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ryan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotels,Hotel Name
16,Vilyuysk,63.76,121.62,77.09,46,1,4.52,RU,NaN,Gostinitsa Viliuisk
107,Zhigansk,66.77,123.37,74.35,44,25,7.25,RU,NaN,Kapital Meditsinskoye Strakhovaniye
116,Balkanabat,39.51,54.37,76.42,32,12,3.67,TM,NaN,Bertling Logistics (Turkmen) L.L.C.
150,Yellowknife,62.46,-114.35,77.00,38,20,8.05,CA,NaN,Yellowknife Waterdrome
166,Mizdah,31.45,12.98,73.18,42,0,6.13,LY,NaN,Sons Bradah
196,Scalea,39.81,15.80,75.00,54,0,2.86,IT,NaN,Grand Hotel de Rose
221,Haines Junction,60.75,-137.51,67.75,28,0,8.90,CA,NaN,Parkside Inn
274,Khandyga,62.67,135.60,67.78,47,0,5.50,RU,NaN,Svyaznoy
276,Tiznit Province,29.58,-9.50,75.52,51,0,2.10,MA,NaN,Mosquée
279,Taksimo,56.34,114.88,71.65,53,30,1.39,RU,NaN,Baza Buryatzoloto
355,Seydi,39.48,62.91,76.42,18,0,6.11,TM,NaN,Seýdi Şäheri Dayhan Bazary
404,Vitim,59.45,112.56,74.48,47,0,0.65,RU,NaN,Ptsn Vitim
405,Mehrān,33.12,46.16,71.60,26,0,2.24,IR,NaN,خود پرداز بانک ملت
430,Kumul,42.80,93.45,68.83,40,0,6.17,CN,NaN,Kumul Mansion Scenic Area
439,Riverton,40.52,-111.94,70.00,40,1,5.82,US,NaN,Ramada by Wyndham Draper
460,Batagay,67.63,134.63,71.01,28,10,2.64,RU,NaN,"Polyarnyye Avialinii, Aviakompaniya, Batagaysk..."
479,Chegdomyn,51.12,133.02,71.71,53,30,3.02,RU,NaN,"Redaktsiya Gazety ""Rabocheye Slovo"""
502,Semnan,35.57,53.40,74.50,42,0,8.48,IR,NaN,Mellat Bank
504,Suntar,62.14,117.63,76.14,54,0,2.15,RU,NaN,Svyaznoy
541,Semey,50.41,80.23,67.21,52,25,7.85,KZ,NaN,Grand Hotel Semey

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
# Add marker layer ontop of heat map

markers =gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure

fig

Figure(layout=FigureLayout(height='420px'))